<div class="columna">
    <div class="columna1 bg">
        <p class="pcolumn1" style="color: white;">Bienvenido a la mejor plataforma <br><strong>organizacional online</strong></p>
        <p class="pcolumna1" style="color: white; ">Gestión efectiva del talento humano</p>
    </div>
    <div class="columna2 ">
        <div class="vicon">
            <img class="vicon" src="\assets\img\Vector.png " width="100 " alt=" ">
        </div>

        <form action="# ">
            <div class="mb-4 ">
                <label for="email " class="form-label lblini "><strong>Usuario</strong></label>
                <input type="email " placeholder="Ingresa tu nombre de usuario " class="form-control txtbox " name="user ">
            </div>
            <div class="mb-4 ">
                <label for="email " class="form-label lblini "><strong>Usuario</strong> </label>
                <input type="email " placeholder="Ingresa tu nombre de usuario " class="form-control txtbox " name="user ">
            </div>
            <div class="mb-4 form-check ">
                <input type="checkbox " name="remember " class="form-check-input check " id=" ">
                <label for="connected " class="form-check-label ">Recordar cuenta</label>
            </div>
            <div class="mb-4 ">
                <button type="submit " class="btn btn-pru " routerLink="/home" style="color: white; "><strong>Iniciar sesión</strong> </button>
            </div>
            <div class="my-2 forgot">
                <span class="spanforgot">¿Olvidaste tu usuario? <a href="# "></a></span>
                <span>¿Olvidaste tu contraseña? <a href="# "></a></span>
            </div>
        </form>
    </div>
</div>