.v1_295 {
    width: 100%;
    height: 1078px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v1_297 {
    width: 100%;
    height: 80px;
    background: rgba(245, 245, 245, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v1_301 {
    width: 200px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 130px;
    left: 312px;
    overflow: hidden;
}

.v1_302 {
    width: 200px;
    color: rgba(0, 0, 0, 1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
}

.v1_301 {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}